#mainwrapper {
	min-width: 651px;
	max-width: 1024px;
	margin: auto;
	font-size: 1em;
}

body {
	background: radial-gradient(circle, #DD0, #990);
	font-family: "Trebuchet MS", "Verdana", "Georgia", serif;
}

@media only screen and (max-width: 650px) {
	#mainwrapper {
		width: 400px;
		min-width: 400px;
	}
}